[submodule "deps/RIF"]
	path = deps/RIF
	url = https://github.com/GPUOpen-LibrariesAndSDKs/RadeonImageFilter
[submodule "deps/RPR"]
	path = deps/RPR
	url = https://github.com/GPUOpen-LibrariesAndSDKs/RadeonProRenderSDK
[submodule "deps/MaterialX"]
	path = deps/MaterialX
	url = https://github.com/materialx/MaterialX
[submodule "deps/ghc_filesystem"]
	path = deps/ghc_filesystem
	url = https://github.com/gulrak/filesystem
